Repository makoto-ai/ai-systems-workspace, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, quality, docs, python, obsidian

🧠 Auto-commit memory updates - 2025-08-31 09:36:00
  gate_summary.txt
  golden_report.txt
  memory/snapshots/mcp_snapshot_20250831_093517.json
  out/kpi_history.jsonl
  regression_report.txt
  scripts/local/downloads_guard_wrapper.sh
  scripts/local/weekly_kpi.sh
Labels: none

ci(pr): add acceptance gate @0.72 (+1.0pp pass or -1.0pp new, no regressions)
  .github/workflows/pr-quality-check.yml
  scripts/quality/acceptance_gate.py
Labels: ci, quality, python

🧠 Auto-commit memory updates - 2025-08-31 13:30:00
  memory/cursor_state.json
  memory/snapshots/mcp_snapshot_20250831_132610.json
  memory/snapshots/mcp_snapshot_20250831_132835.json
Labels: none

🧠 Auto-commit memory updates - 2025-08-31 13:35:01
  memory/snapshots/mcp_snapshot_20250831_133346.json
  tests/golden/weights_phase4.yaml
Labels: none

🧠 Auto-commit memory updates - 2025-08-31 13:36:03
  memory/cursor_state.json
  memory/mcp_snapshot.json
Labels: none

golden: tweak sample_006 to exercise acceptance gate (dashboard keyword)
  tests/golden/cases/sample_006.json
Labels: none

🧠 Auto-commit memory updates - 2025-08-31 13:45:01
  memory/cursor_state.json
  memory/snapshots/mcp_snapshot_20250831_134252.json
Labels: none

golden: revert sample_006 tweak to test evaluator-only gain
  tests/golden/cases/sample_006.json
Labels: none

🧠 Auto-commit memory updates - 2025-08-31 13:55:01
  memory/cursor_state.json
  memory/snapshots/mcp_snapshot_20250831_135250.json
Labels: none

chore(test): trigger run to validate acceptance gate on real PR
  tests/golden/README.md
Labels: docs

🧠 Auto-commit memory updates - 2025-08-31 14:10:00
  memory/cursor_state.json
  memory/snapshots/mcp_snapshot_20250831_140926.json
Labels: none

ci: add Daily KPI Slack Summary workflow (uses SLACK_WEBHOOK_URL secret)
  .github/workflows/daily-slack-summary.yml
Labels: ci

ci: add Daily KPI Slack Summary workflow
  .github/workflows/daily-slack-summary.yml
Labels: ci

ci: fix daily slack summary (use Python posting, proper secrets scope)
  .github/workflows/daily-slack-summary.yml
Labels: ci

🧠 Auto-commit memory updates - 2025-08-31 14:35:01
  memory/cursor_state.json
  memory/snapshots/mcp_snapshot_20250831_143444.json
Labels: none

ci: add Slack webhook connectivity test workflow
  .github/workflows/slack-test.yml
Labels: ci

🧠 Auto-commit memory updates - 2025-08-31 15:35:00
  memory/cursor_state.json
  memory/snapshots/mcp_snapshot_20250831_153143.json
Labels: none

ci: Slack summary retry + acceptance gate baseline snapshot support
  .github/workflows/daily-slack-summary.yml
  scripts/quality/acceptance_gate.py
Labels: ci, quality, python

🧠 Auto-commit memory updates - 2025-08-31 15:55:00
  memory/cursor_state.json
  memory/snapshots/mcp_snapshot_20250831_155438.json
Labels: none

ci: add SLO logging (success rate and latency) to daily Slack summary
  .github/workflows/daily-slack-summary.yml
Labels: ci

chore(memory): update cursor_state and mcp snapshot
  memory/cursor_state.json
  memory/snapshots/mcp_snapshot_20250831_160732.json
Labels: none

🧠 Auto-commit memory updates - 2025-08-31 16:10:01
  memory/cursor_state.json
  memory/snapshots/mcp_snapshot_20250831_160957.json
Labels: none

🧠 Auto-commit memory updates - 2025-09-01 00:06:14
  app/api/sales_roleplay.py
  app/api/speech.py
  app/api/streaming.py
  app/api/tts.py
  app/main.py
  app/services/metrics.py
  app/services/speech_service.py
  app/services/streaming_asr_service.py
  app/services/tts_streamer.py
  app/static/voice/app.js
  app/static/voice/index.html
  memory/cursor_state.json
  memory/snapshots/mcp_snapshot_20250901_000552.json
  out/voice_metrics.jsonl
Labels: python

🧠 Auto-commit memory updates - 2025-09-01 07:40:00
  app/services/groq_service.py
  app/services/speech_service.py
  app/static/voice/app.js
  memory/cursor_state.json
  memory/snapshots/mcp_snapshot_20250901_073634.json
Labels: python

🧠 Auto-commit memory updates - 2025-09-01 08:10:00
  app/services/groq_service.py
  app/services/speech_service.py
  app/services/voice_service.py
  app/static/voice/app.js
  app/static/voice/index.html
  memory/cursor_state.json
  memory/snapshots/mcp_snapshot_20250901_080640.json
Labels: python

🧠 Auto-commit memory updates - 2025-09-01 08:40:00
  app/static/voice/app.js
  memory/cursor_state.json
  memory/snapshots/mcp_snapshot_20250901_083646.json
Labels: none

🧠 Auto-commit memory updates - 2025-09-01 09:10:00
  app/static/voice/app.js
  memory/cursor_state.json
  memory/snapshots/mcp_snapshot_20250901_090652.json
Labels: none

🧠 Auto-commit memory updates - 2025-09-01 09:40:01
  app/static/voice/app.js
  memory/cursor_state.json
  memory/snapshots/mcp_snapshot_20250901_093657.json
Labels: none

🧠 Auto-commit memory updates - 2025-09-01 10:15:27
  app/main.py
  memory/cursor_state.json
  memory/snapshots/mcp_snapshot_20250901_100731.json
  scripts/selftest.sh
Labels: python

🧠 Auto-commit memory updates - 2025-09-01 11:05:00
  app/static/voice/app.js
  memory/cursor_state.json
  memory/snapshots/mcp_snapshot_20250901_110320.json
Labels: none

🧠 Auto-commit memory updates - 2025-09-01 11:35:00
  app/api/conversation.py
  app/services/voice_service.py
  app/static/voice/app.js
  memory/cursor_state.json
  memory/snapshots/mcp_snapshot_20250901_113326.json
  out/voice_performance.json
Labels: python

🧠 Auto-commit memory updates - 2025-09-01 12:05:00
  app/services/speech_service.py
  app/static/voice/app.js
  memory/cursor_state.json
  memory/snapshots/mcp_snapshot_20250901_120331.json
  out/voice_performance.json
Labels: python

🧠 Auto-commit memory updates - 2025-09-01 12:35:01
  app/static/voice/app.js
  memory/cursor_state.json
  memory/snapshots/mcp_snapshot_20250901_123337.json
  out/voice_performance.json
Labels: none

🧠 Auto-commit memory updates - 2025-09-01 13:05:00
  app/api/metrics.py
  app/core/voicevox.py
  app/main.py
  app/services/voice_service.py
  app/static/voice/app.js
  memory/cursor_state.json
  memory/snapshots/mcp_snapshot_20250901_130342.json
  out/voice_performance.json
  out/voice_performance_history.jsonl
Labels: python

🧠 Auto-commit memory updates - 2025-09-01 13:35:00
  memory/cursor_state.json
  memory/snapshots/mcp_snapshot_20250901_133348.json
  out/voice_performance.json
  out/voice_performance_history.jsonl
Labels: none

🧠 Auto-commit memory updates - 2025-09-01 14:05:01
  memory/cursor_state.json
  memory/snapshots/mcp_snapshot_20250901_140354.json
  out/voice_metrics.jsonl
  out/voice_performance.json
  out/voice_performance_history.jsonl
Labels: none

🧠 Auto-commit memory updates - 2025-09-01 14:35:00
  app/services/groq_service.py
  app/services/speech_service.py
  app/static/voice/app.js
  memory/cursor_state.json
  memory/snapshots/mcp_snapshot_20250901_143400.json
  out/voice_metrics.jsonl
  out/voice_performance.json
  out/voice_performance_history.jsonl
Labels: python

🧠 Auto-commit memory updates - 2025-09-01 15:05:00
  app/api/metrics.py
  app/static/voice/app.js
  memory/cursor_state.json
  memory/snapshots/mcp_snapshot_20250901_150407.json
  out/voice_performance.json
Labels: python

🧠 Auto-commit memory updates - 2025-09-01 18:00:00
  app/static/voice/app.js
  memory/cursor_state.json
  memory/snapshots/mcp_snapshot_20250901_175836.json
  out/voice_metrics.jsonl
Labels: none

🧠 Auto-commit memory updates - 2025-09-01 18:30:00
  app/api/ws_voice.py
  app/main.py
  app/static/voice/app.js
  memory/cursor_state.json
  memory/snapshots/mcp_snapshot_20250901_182842.json
Labels: python

.github/labeler.yml:

ci:
  - .github/**
quality:
  - scripts/quality/**
docs:
  - '**/*.md'
python:
  - '**/*.py'
obsidian:
  - docs/obsidian-knowledge/**
