Repository makoto-ai/ai-systems-workspace, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, quality, docs, python, obsidian

.github/labeler.yml:

ci:
  - .github/**
quality:
  - scripts/quality/**
docs:
  - '**/*.md'
python:
  - '**/*.py'
obsidian:
  - docs/obsidian-knowledge/**

auto: sync 2025-09-07 00:12:35
  memory/cursor_state.json
  memory/mcp_snapshot.json
Labels: none

auto: sync 2025-09-07 00:12:46
  memory/cursor_state.json
  memory/mcp_snapshot.json
Labels: none

auto: sync 2025-09-07 00:12:56
  memory/cursor_state.json
  memory/mcp_snapshot.json
Labels: none

auto: sync 2025-09-07 00:13:06
  memory/cursor_state.json
  memory/mcp_snapshot.json
Labels: none

auto: sync 2025-09-07 00:13:16
  memory/cursor_state.json
  memory/mcp_snapshot.json
Labels: none

🔄 自動バックアップ - 2025-09-07 00:13:17
  .auto_backup.lock
Labels: none

auto: sync 2025-09-07 00:13:27
  .auto_backup.lock
  memory/cursor_state.json
  memory/mcp_snapshot.json
Labels: none

auto: sync 2025-09-07 00:13:37
  memory/cursor_state.json
  memory/mcp_snapshot.json
Labels: none

auto: sync 2025-09-07 00:13:47
  memory/cursor_state.json
  memory/mcp_snapshot.json
Labels: none

auto: sync 2025-09-07 00:13:57
  memory/cursor_state.json
  memory/mcp_snapshot.json
Labels: none

auto: sync 2025-09-07 00:14:08
  memory/cursor_state.json
  memory/mcp_snapshot.json
Labels: none

auto: sync 2025-09-07 00:14:18
  memory/cursor_state.json
  memory/mcp_snapshot.json
Labels: none

🔄 自動バックアップ - 2025-09-07 00:14:19
  .auto_backup.lock
Labels: none

auto: sync 2025-09-07 00:14:28
  .auto_backup.lock
  memory/cursor_state.json
  memory/mcp_snapshot.json
Labels: none

auto: sync 2025-09-07 00:14:51
  memory/cursor_state.json
  memory/mcp_snapshot.json
  tests/e2e/metrics.spec.ts
Labels: none

auto: sync 2025-09-07 00:15:13
  memory/cursor_state.json
  memory/mcp_snapshot.json
  tests/e2e/voice_ws.spec.ts
Labels: none

🔄 自動バックアップ - 2025-09-07 00:15:20
  memory/cursor_state.json
  memory/mcp_snapshot.json
Labels: none

auto: sync 2025-09-07 00:15:32
  memory/cursor_state.json
  memory/mcp_snapshot.json
Labels: none

auto: sync 2025-09-07 00:15:42
  memory/cursor_state.json
  memory/mcp_snapshot.json
Labels: none

auto: sync 2025-09-07 00:16:01
  memory/cursor_state.json
  memory/mcp_snapshot.json
Labels: none

auto: sync 2025-09-07 00:16:10
  memory/cursor_state.json
  memory/mcp_snapshot.json
Labels: none

auto: sync 2025-09-07 00:16:20
  memory/cursor_state.json
  memory/mcp_snapshot.json
Labels: none

auto: sync 2025-09-07 00:16:30
  memory/cursor_state.json
  memory/mcp_snapshot.json
Labels: none

auto: sync 2025-09-07 00:16:40
  memory/cursor_state.json
  memory/mcp_snapshot.json
Labels: none

auto: sync 2025-09-07 00:16:50
  memory/cursor_state.json
  memory/mcp_snapshot.json
Labels: none

chore: untrack volatile memory/* from git to stabilize auto-commit/CI
  memory/cursor_state.json
  memory/mcp_snapshot.json
Labels: none

ci(spec-contract): add spec validation workflow and contract tests
  .github/workflows/spec-contract.yml
  requirements-dev.txt
  specs/speech_analysis_v1.yaml
Labels: ci

ci(spec-contract): track tests and adjust .gitignore
  .gitignore
  tests/fixtures/hello_short.wav
  tests/test_spec_contract_schema.py
  tests/test_speech_analysis_contract.py
Labels: python
